<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>QRPet</title>
    <link rel="stylesheet" href="styles.css" />
  </head>
  <script
    defer
    src="https://cdnjs.cloudflare.com/ajax/libs/qrcodejs/1.0.0/qrcode.min.js"
    integrity="sha512-CNgIRecGo7nphbeZ04Sc13ka07paqdeTu0WR1IM4kNcpmBAUSHSQX0FslNhTDadL4O5SAGapGt4FodqL8My0mA=="
    crossorigin="anonymous"
    referrerpolicy="no-referrer"
  ></script>
  <script defer src="qrHandler.js"></script>

  <body>
    <main>
      <header>
        <h1>TAGNAME</h1>
        <nav><a href="#como-funciona">¿Cómo funciona?</a></nav>
      </header>
      <section class="portada">
        <p>
          Más que una placa, un vínculo que te conecta con tu mascota cuando más
          lo necesitas.
        </p>
        <figure>
          <img
            src="/img/img-qrPet.png"
            alt="Hombre arrodillado tocando el collar de su perro en un parque"
          />
        </figure>
      </section>
      <section id="como-funciona">
        <h2>¿Cómo funciona?</h2>
        <p>
          1. El dueño de la mascota ingresa su información de contacto y la
          información de su mascota en el formulario.
        </p>
        <p>
          2. Se genera un código QR único que contiene toda esta información.
        </p>
        <p>
          3. El dueño puede descargar e imprimir el código QR para colocarlo en
          el collar de su mascota.
        </p>
        <p>
          4. En caso de que la mascota se pierda, cualquier persona que la
          encuentre puede escanear el código QR con su teléfono para acceder a
          la información del dueño y contactarlo rápidamente.
        </p>
      </section>
      <form id="qrForm">
        <fieldset>
          <legend>Información de la mascota:</legend>
          <label for="petName">Nombre de la mascota:</label>
          <input type="text" id="petName" name="petName" required /><br /><br />

          <label for="petImg">Foto de la mascota:</label>
          <input
            type="file"
            id="petImg"
            name="petImg"
            accept="image/*"
            required
          /><br /><br />

          <label for="petBreed">Raza:</label>
          <input type="text" id="petBreed" name="petBreed" /><br /><br />

          <label for="petAge">Edad:</label>
          <input type="number" id="petAge" name="petAge" /><br /><br />
        </fieldset>

        <fieldset>
          <legend>Información del dueño:</legend>
          <h2>Información de contacto del dueño:</h2>
          <br />
          <label for="ownerName">Nombre:</label>
          <input
            type="text"
            id="ownerName"
            name="ownerName"
            required
          /><br /><br />
          <label for="ownerContact">Número:</label>
          <input type="tel" id="ownerContact" name="ownerContact" required />
          <span class="error-message">Solo se permite números</span>
          <br />
        </fieldset>

        <input type="submit" value="Generar Código QR" />
      </form>
      <div>
        <h2>Código QR generado:</h2>
        <figure id="qrCodeContainer"></figure>
        <button id="downloadBtn">Descargar QR</button>
      </div>
    </main>
  </body>
</html>
